.manage-teachers {
padding: 20px;
}

.manage-teachers h2 {
margin-bottom: 20px;
font-weight: bold;
}

.teacher-form {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 15px;
margin-bottom: 25px;
}

.teacher-form input {
padding: 10px;
border-radius: 5px;
border: 1px solid #ccc;
}

.teacher-form button {
grid-column: span 2;
padding: 10px;
background: #1fa3db;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

.teacher-form button:hover {
background:  #db1f99;
}

table {
width: 100%;
border-collapse: collapse;
}

table th {
background:  #1fa3db;
color: white;
padding: 10px;
}

table td {
padding: 10px;
border-bottom: 1px solid #ddd;
}

.edit-btn {
background: orange;
border: none;
padding: 5px 10px;
margin-right: 5px;
cursor: pointer;
}

.delete-btn {
background: red;
border: none;
padding: 5px 10px;
color: white;
cursor: pointer;
}